body {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emblem {
  height: 28rem;
  width: 28rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 25px double #fff;
  background: rgba(255, 107, 107, 0.5);
}
.emblem > img {
  width: 40%;
  transform: rotate(-5deg);
}
.emblem > h1 {
  color: rgba(255, 255, 255, 0.98);
  font-size: 23rem;
  font-weight: 300;
  transform: rotate(-3deg) translate(6%, -2%);
}

.title {
  position: relative;
  margin: 2rem 0;
  z-index: 2;
  font-size: 3rem;
  color: #fff;
  font-weight: 400;
}
.title:after {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: -2%;
  display: flex;
  height: 105%;
  width: 104%;
  z-index: -1;
  background: rgba(255, 107, 107, 0.5);
  transform: rotate(-1deg);
}
